<!DOCTYPE html>
<html lang="en" ng-app="FoodApp">
<head>
  <meta charset="UTF-8">
  <title>Lunch Checker</title>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
<style>
  input {margin:10px;}
  p {color:green; margin-left:10px;}
  button {margin:10px;}
</style>
</head>
<body>

<div ng-controller="FoodController as vm">
  <h1>Lunch Checker</h1>
  <input type="text" ng-model="vm.Food" placeholder="list comma separated dishes you usually have for lunch">
  <br>
  <button ng-click="vm.checkFood()">Check If Too Much</button>
  <p>{{vm.message}}</p>
</div>

</body>
</html>
